@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Clash Display", sans-serif;
  background-color: black;
}
.eating-image {
  object-fit: contain;

  object-position: bottom center;
  position: relative;

  z-index: 7;
}
.card-hello-right-circle {
  animation: cardHelloRightCircleScale 6s ease infinite;
  background: #fff;
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 50%);
}
.card-hello-right-circle:nth-child(1) {
  animation-delay: 0.2s;
  height: 400px;
  width: 400px;
  z-index: 6;
}
.card-hello-right-circle:nth-child(2) {
  animation-delay: 0.4s;
  height: 480px;
  width: 480px;
  z-index: 5;
  opacity: 0.3;
}
.card-hello-right-circle:nth-child(3) {
  animation-delay: 0.6s;
  height: 560px;
  width: 560px;
  z-index: 4;
  opacity: 0.225;
}
.card-hello-right-circle:nth-child(4) {
  animation-delay: 0.8s;
  height: 640px;
  width: 640px;
  z-index: 3;
  opacity: 0.15;
}
.card-hello-right-circle:nth-child(5) {
  animation-delay: 1s;
  height: 720px;
  width: 720px;
  z-index: 2;
  opacity: 0.075;
}
@keyframes cardHelloRightCircleScale {
  0%,
  30%,
  100% {
    transform: translate(-50%, 50%) scale(1);
  }

  15% {
    transform: translate(-50%, 50%) scale(0.95);
  }
}
